@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Inter:wght@200;300;400;500&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');
/* font-family: 'Dosis', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */
:root{
    --primary-color:#6C5DD3;
    --secondary-color:#ff754c;
    --text-color:#808191;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height:1.6rem;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-weight:500;
}