@media screen and (max-width: 767.98px) {
    .header__list{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    .nav__bars-btn{
        display: block;
    }
}
@media (max-width:1023px){
    .nav__bars-btn{
        display:block;
    }
    .nav__list{
        display:none;
    }
}
 
