@media screen and (max-width: 767.98px) {
    .header__list{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    .nav__bars-btn{
        display: block;
    }
    /* .slider-waper{
        min-width: 100%;
        padding: 30px 0;
    } */
    
    
}
/*---------------- mobile------------------ */
@media only screen and (max-width:739px){
    .slider-waper{
        min-width: 100%;
    }
    .container-text{
        font-size: 3.0rem;
    }
}
/*----------------- tablet ------------------*/
@media only screen and (min-width:740px) and (max-width:1033px) {
    .slider-waper{
        min-width: 100%;
        padding: 30px 0;
    }
    .word__item-info{
        top: 85%;
    }
}



