.slider{
    background-image: url(../IMG/BRG_IMG4.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    min-height:100vh;
    max-width: 100%;
}

.header{
    position: fixed;
    
    width: 100%;
    box-shadow: 0 1px rgba(143, 135, 135, 0.9);
}

.header__list{
    display:flex;
    font-size:3.4rem;
    
}
.header__list-item{
    list-style: none;
}
.header__list-link{
    display:block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    color:var(text-color);
    transition: 0.1s;

}
.header__list-link:hover{
    color:white;
    background-color:var(--primary-color);
}